/* <!-- basic start --> */
/* <!-- basic end --> */

/* <!-- layout start --> */
/* <!-- layout end --> */

/* <!-- header start --> */
/* <!-- header end --> */

/* <!-- hero start --> */
/* <!-- hero end --> */

/* <!-- about me start --> */




/* <!-- about me end --> */

/* <!-- services start --> */
.block {
    display: inline-block;
    width: calc((100% - 90px) / 3);
    float: left;
    margin: 15px;
    padding: 50px 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 15px  rgb(226, 226, 226);
}
.block > i {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    padding: 15px;
    margin: 10px 0;
}
.block > i:hover {
    background-color : var(--color-secondary);
    color: white;    
}
.block > h4 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
}
.block > .description {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
    color: var(--color-text);
}
@media (max-width: 1100px) {
    .block {
        width: calc((100% - 60px) / 2);
    }
}
@media (max-width: 800px) {
    .block {
        width: calc((100% - 30px));
    }
}
    
/* <!-- services end --> */

/* <!-- portfolio start --> */
.portfolio > .block {
    padding: 0;
    box-shadow: 0 0 5px  rgb(226, 226, 226);
}
.portfolio-img {
    display: inline-block;
    width: 100%;
    position: relative;
}
.portfolio-img > img {
    display: inline-block;
    width: 100%;
}
.portfolio-img > .hover-efect {
    display: inline-block;
    width: 97%;
    height: 97%;
    position: absolute;
    top: 0%;
    left: 1.5%;
    background-color: white;
    transition: 0.5s ease;
    opacity: 0; 
    transform: translateY(5%);
    transform-origin: top;   
}
.block > .portfolio-img:hover .hover-efect {
    transition: 0.5s ease;
    opacity: 0.95;
    transform: translateY(1.5%);
    transform-origin: top;   
}
    .hover-efect > .text {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        margin-top: 25%;
        margin-bottom: 40px;
        letter-spacing: 2px;
        transition: 0.5s ease;
        transform: translateY(5%);
        transform-origin: top;  
    }
    .block > .portfolio-img:hover .text {
        transform: translateY(100%);
        transition: transform 0.5s ease;
        transform-origin: top;
    }
    .center-fafa > i {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px;
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: 50%;
    }
    .block > .portfolio-img:hover .center-fafa > i {
        transform: translateY(-10%);
        transition: transform 0.5s ease-in;
        transform-origin: top;
    }
.center-fafa > i:hover {
    color:black;
    background-color: white;
}
@media (max-width: 1300px) {
    .hover-efect > .text {
        margin-top: 25%;
    }
}
@media (max-width: 350px) {
    .hover-efect > .text {
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
        margin-top: 25%;
        margin-bottom: 15px;
        letter-spacing: 2px;
    }
    .center-fafa > i {
        display: inline-block;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
        padding: 8px;
        
        
    }
}
/* <!-- portfolio end --> */

/* <!-- testimonials start --> */
/* <!-- testimonials end --> */

/* <!-- numbers start --> */
.numbers {
    display: inline-block;
    width: calc((100% - 120px) / 4);
    float: left;
    margin: 15px;
    padding: 45px 0;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 0;
}
    .numbers i {
        display: inline-block;
        font-size: 30px;
        line-height: 30px;       
        padding: 0px;
        margin: 10px 0;
    }
    .numbers .value {
        display: inline-block;
        width: 100%;
        font-size: 30px;
        line-height: 30px;
        font-weight: bold;
        margin: 10px 0;
        color: var(--color-secondary);
    }
    .numbers h4 {
        display: inline-block;
        width: 100%;
        font-size: 20px;
        line-height: 20px;
        font-weight: normal;
        margin: 10px 0;
        color: var(--color-text);
    }
    @media (max-width: 900px) {
        .numbers {
            width: calc((100% - 60px) / 2);
        }
    }
    @media (max-width: 500px) {
        .numbers {
            width: calc((100% - 30px));
            padding: 15px 0;
        }
    }
/* <!-- numbers end --> */

/* <!-- our blog start --> */
/* <!-- our blog end --> */

/* <!-- contact us start --> */
/* <!-- contact us end --> */

/* <!-- footer start --> */
/* <!-- footer end --> */