/* <!-- basic start --> */
/* <!-- basic end --> */

/* <!-- layout start --> */
/* <!-- layout end --> */

/* <!-- header start --> */

/* <!-- header end --> */

/* <!-- hero start --> */
.hero-bg {
    display: inline-block;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: url(../img/other/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.hero-color {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 3;
}
    .hero-bg > .row {
        margin-top: 200px;
        z-index: 4;
        position: absolute;
        left: 0;
        top: 20%;
        bottom: 20%;

    }
        .hero-bg > .row h1 {
            display: inline-block;
            width: 100%;
            color: white;
            font-size: 50px;
        }
        .hero-bg > .row h2 {
            display: inline-block;           
            text-decoration: none ;
            color: white;
            font-size: 40px;
            font-weight: 100;
        }
        .row > .iam {
            display: inline-block;
            padding: 20px 0px;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            font-weight: 50;
            line-height: 50px;
        }
        .row > .iam > .anime {
            display: inline-block;
            color: white;
            font-size: 40px;
            font-weight: 500;
            line-height: 50px;
            border-right: 2px solid white;
        }
        .row > .iam > .anime::after{
            display: inline-block;
            content: "";
            height: 70%;
            width: 2px;
            color: white;
        }
        .hero-bg > .row .socials {
            display: inline-block;
            width: 100%;
        }
            .hero-bg > .row > .socials i {
                display: inline-block;
                color: white;
                font-size: 14px;
                background-color: rgb(7, 7, 7, 0.5);
                border-radius: 50%;
                padding: 10px 12px;
                margin: 10px 5px;
                cursor: pointer;
            }
    @media (max-width: 800px) {
        .row > .wrapper-center > .iam {
            display: inline-block;
            width: 100%;
            text-align: center;
            position: relative;
            top: -70px;
            left: 0;
        }
        .wrapper-center > .wrapper {
            display: inline-block;
            width: 60%;
            position: relative;
            top: 70px;
            right: 20%;
        }
        #is0, #is1, #is2 {
            text-align: center;
        }
    }
    @media (max-width: 550px) {
        .hero-bg > .row h1 {
            font-size: 25px;
        }
            .row > .wrapper-center {
                padding-top: 15px;
            }
                .row > .wrapper-center > .iam {
                    font-size: 25px;
                    line-height: 25px;
                    position: relative;
                    top: -40px;
                    left: 0;
                }
                .wrapper-center > .wrapper {
                    position: relative;
                    top: 45px; 
                    height: 40px; 
                }
                    #is0, #is1, #is2 {
                        text-align: center;
                        font-size: 25px;
                        line-height: 25px
                    }
    }

/* <!-- hero end --> */

/* <!-- about me start --> */

.me-achiev {
    display: inline-block;
    text-align: left;
    padding: 80px 20px;
}
    .about-me > .me-img {
        display: inline-block;
        width: 40%;
        float: left;
        position: relative;
        z-index: 1;
    }
    .about-me > .me-img:after {
        display: inline-block;
        content: '';
        width: 70%;
        height: 100%;
        float: left;
        margin-left: 15px;
        background-image: url(../img/other/dots.png);
        background-repeat: repeat;
        position: absolute;
        bottom: -30px;
        left: 0;
        z-index: -1;
    }
        .me-img > img {
            display: inline-block;
            width: 97%;
            float: right;
            padding: 0 30px;
        }
    .about-me > .info-me {
        display: inline-block;
        width: 60%;
        text-align: left;
        float: left;
    }
    .info-me > .section > h2 {
        display: inline-block;
        font-size: 30px;
        line-height: 30px;
        text-transform: capitalize;
    }
   span.title-me {
        display: inline-block;
        color: var(--color-text);
        font-weight: 500;
    }
    .info-me > p {
        display: inline-block;
        color: var(--color-text);
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0px;
    }
    span.name {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        
        font-weight: 900;
        margin-top: 0;
    }
    #progress {
        margin-bottom: 30px;
    }
@media (max-width: 1100px) {
    .about-me > .me-img {
        width: 100%;
        margin: 30px 0;
    }
    .about-me > .info-me {
        width: 100%;
        margin: 60px 0px;
        padding: 0px 15px;   
    }
}
@media (max-width: 400px) {
    .btn {
        width: 100%;
        margin: 10px 0; 
    }
}

/* <!-- about me end --> */

/* <!-- services start --> */
/* <!-- services end --> */

/* <!-- portfolio start --> */
.portfolio-container > .row nav {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}
.portfolio-container > .row .list {
    display: inline-block;
    
    margin-top: 60px;
    margin-bottom: 40px;

}
.portfolio-container > .row a {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 20px;

}

/* <!-- portfolio end --> */

/* <!-- testimonials start --> */
/* <!-- testimonials end --> */

/* <!-- numbers start --> */
/* <!-- numbers end --> */

/* <!-- our blog start --> */
/* <!-- our blog end --> */

/* <!-- contact us start --> */
#contact .section {
    display: block;
    width: 100%;
    margin-top: 60px;
}
    #contact h2 {
        display: inline-block;
    }
    #contact .contacts {
        display: inline-block;
        width: 100%;
        float: left;
    }
    #contact .address {
            display: inline-block;
            width: 250px;
            margin: 20px 30px;
        }
        #contact .fa  {
                padding: 18px;
                border-radius: 50%;
                background-color: #F7F7F7;
                color: #748182;
                text-decoration: none;
            }
            #contact .fa:hover{
                background-color: #1C1C1C;
                color: white;
            }
            #contact h4 {
                padding: 7px;
                margin-top: 5px;
            }
            #contact p {
                font-size: 14px;
                color: #748182;
                padding: 0, 0, 50, 0;
                margin-top: 5px;
            }
            #contact .email {
            display: inline-block;
            width: 250px;
            margin: 20px 30px;
            }
            #contact .phone {
                display: inline-block;
                width: 250px;
                margin: 20px 30px;
            }
           
    #contact form {
        display: inline-block;
        width: 880px;
        padding-top: 30px;
    }
    #contact .two-in-row {
            display: inline-block;
            width: 45%;
            float: left;
            background-color:  #F7F7F7;
            border-radius: 5px;
            font-size: 15px;
            line-height: 20px;
            border: none;
        }
        #contact .two-in-row:last-of-type {
            margin-left: 10%;
        }
        #contact form > textarea {
            display: inline-block;
            width: 100%;
            margin-bottom: 20px;
            resize: vertical;
            margin-top: 10px;
            background-color:  #F7F7F7;
            border-radius: 5px;
            min-height: 130px;
            max-height: 350px;
            font-size: 15px;
            line-height: 20px;
            border: none;
        }
    #submit {
        display: inline-block;
        float: left;
    }
@media (max-width: 1100px) {
    #contact form {
        width: 800px;
        padding-top: 30px;
    }
    #contact .address {
        display: inline-block;
        width: 25%;
        margin: 20px 30px;
    }
    #contact .email {
        display: inline-block;
        width: 25%;
        margin: 20px 30px;
        }
    #contact .phone {
        display: inline-block;
        width: 25%;
        margin: 20px 30px;
    }
}
@media (max-width: 900px) {
    #contact form {
        width: 700px;
        padding-top: 30px;
    }
    #contact .address {
        display: inline-block;
        width: 25%;
        margin: 20px 10px;
    }
    #contact .email {
        display: inline-block;
        width: 25%;
        margin: 20px 10px;
        }
    #contact .phone {
        display: inline-block;
        width: 25%;
        margin: 20px 10px;
    }
}
@media (max-width: 800px) {
    #contact form {
        width: 100%;
        padding-top: 30px;
    }
    #contact .two-in-row {
        display: inline-block;
        width: 100%;
        float: left;
    }
    #contact .two-in-row:last-of-type {
        margin-left: 0;
        margin: 10px 0;
    }
    #contact form > textarea {
        width: 100%;
        margin-bottom: 20px;
        resize: vertical;
        margin-top: 10px;
        background-color:  #F7F7F7;
        border-radius: 5px;
        min-height: 130px;
        max-height: 350px;
        font-size: 15px;
        line-height: 20px;
        border: none;
        padding: 15px;
    }
    #contact .address {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
    }
    #contact .email {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
        }
    #contact .phone {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
    }
}
/* <!-- contact us end --> */

/* <!-- footer start --> */
footer > .row p {
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    word-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}
/* <!-- footer end --> */