/* <!-- basic start --> */
/* <!-- basic end --> */

/* <!-- layout start --> */
/* <!-- layout end --> */

/* <!-- header start --> */
/* <!-- header end --> */

/* <!-- hero start --> */
/* <!-- hero end --> */

/* <!-- about me start --> */

.me-achiev {
    display: inline-block;
    text-align: left;
}
    .about-me > .me-img {
        display: inline-block;
        width: 40%;
        float: left;
    }
        .me-img > img {
            display: inline-block;
            width: 100%;
            float: right;
            padding: 0 30px;
        }
    .about-me > .info-me {
        display: inline-block;
        width: 60%;
        text-align: left;
        float: left;
    }
/* <!-- about me end --> */

/* <!-- services start --> */
/* <!-- services end --> */

/* <!-- portfolio start --> */
/* <!-- portfolio end --> */

/* <!-- testimonials start --> */
/* <!-- testimonials end --> */

/* <!-- numbers start --> */
/* <!-- numbers end --> */

/* <!-- our blog start --> */
/* <!-- our blog end --> */

/* <!-- contact us start --> */
/* <!-- contact us end --> */

/* <!-- footer start --> */
/* <!-- footer end --> */