header {
    display: inline-block;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.header-hide {
    display: none;
}
.header-visible {
    display: inline-block;
    width: 100%;
    height: 65px;
    position: fixed;
    box-shadow: 5px 5px 200px var(--color-text);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #ffffff;
    animation-name: header;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes header {
    0%   {height: 65px;}
  50%  {height: 85px;}
  100% {height: 65px;}
}

    .nav-logo {
        display: inline-block;
        float: left;
        text-decoration: none;
        color:white;
        font-size: 20px;
        line-height: 25px;
        padding: 0 10px;
    }
    header > .row > i {
        display: inline-block;
        float: right;
        color: white;
        font-size: 25px;
        padding: 0 8px 5px;
        display: none;
        cursor: pointer;
        position: relative;
    }
    header > .row > nav {
        display: inline-block;
        float: right;
        padding: 0;
    }
        header > .row > nav > .list {
            display: inline-block;
            float: left;
        }
            nav > .list > a {
                display: inline-block;
                text-decoration: none;
                color: white;
                font-size: 16px;
                padding-top: 2.5px;
                margin: 0 15px;
                position: relative;
            }
            nav > .list > a::after {
                display: inline-block;
                content: '';
                height: 2px;
                position: absolute;
                left: 0%;
                right: 100%;
                bottom: -5px;
                background-color:white;
                transition: all 300ms;
            }
            nav > .list > .header-color::after {
                background-color: black;
            }
            nav > .list > a:hover::after,
            nav > .list > a.active::after {
                left: 0%;
                right: 0%;
            }
            nav > .list > .header-color {
                color: black;
            }
            .row > .header-color {
                color: black;
            }
            header > .row > .header-color{
                color: black;
            }
@media (max-width: 900px) {
    .mobile {
        padding: 0; 
    }
        .mobile > .row {
            width: 100%;
            margin: 20px 0;
        }
            header > .row > a {
                display: inline-block;
                margin-left: 10px;
            }
            header > .row > i {
                display: inline-block;
                margin-right: 10px;
            }
            header > .row > nav {
                display: none;
            }
            header.mobile-show > .row > nav {
                display: none;
                background-color: white;
                display: block;
                width: 100%;
                margin-top: 15px;
                padding: 15px 0;
            }
                .mobile-show > .row > nav > .list {
                    width: 100%;
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    line-height: 20px;
                    margin: 10px 0;
                    text-align: center;
                    padding-top: 20px 0;
                }
                    nav > .list > a {
                        color: black;
                    }
}    
@media (max-width: 800px) {
    header > .row {
        width: 100%;
    }
}
@media (max-width: 550px) {
    header > .row {
        width: 100%;
    }
}

