.testContent {
    display: inline-block;
    width: 90%;
    text-align: center;
    overflow: hidden;
    color: var(--color-text);
}

    .testContent > .list {
        display: inline-block;
        width: 300%; 
        transition: 1s;
    }

        .testContent > .list > .item {
            display: inline-block;
            width: calc(100% /3);
            float: left;
            font-size: 80px;
            line-height: 80px;
        }

       .testContent .controls {
        display: inline-block;
        align-self: center;
        width: auto;
        }

.imgFile > img{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.content {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    min-height: 60px;
    font-weight: lighter;
}

.author {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.occupation {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}